# System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env/

# IDE
.idea/
.vscode/

# Data
*.csv
*.tsv
*.xml
*.json
data/
data/raw/
neo4j/import/
neo4j/load_csv/

# DBLP
dblp.dtd
dblp.xml

# Scripts
*.sh

# Logs/temp
*.log
tmp/
temp/